{% extends 'base.html.twig' %}

{% block title %}Hello UploadController!{% endblock %}

{% block body %}
<div class="container has-background-black mb-5" style="opacity: 0.9;">
<header class="header mt-5">
    <h1 class="title has-text-white is-uppercase is-size-3 pt-3 pl-4 pb-3">
        Upload
    </h1>
</header>
<div class="separator"></div>
<section class="section has-text-white mb-5 pb-5">
    <div class="container">
        <p>Image : {{nom}}</p>
        <img src="/photos/{{ image.filename }}" style="display: block; margin: 0px auto;"/><br>
        {{image.legende}}
        <br>
        <div class="control">
                <label class="radio">
                    <input type="radio" name="answer" onclick="handleClick(this);" value="1">
                    Yes
                </label>
                <label class="radio">
                    <input type="radio" name="answer" onclick="handleClick(this);" value="2">
                    No
                </label>
        </div>
            {{ form_start(form) }}
        <div id="hide">
                {{form_row(form.sous_dossier)}}
        </div>
            <br>      
        <div id="hide-new">
                {{ form_row(form.nom) }}
            <br>            
        </div>
        <div id="validation">{{form_row(form.validation)}}</div>
            {{ form_end(form) }}
    </div>
</section>



{% endblock %}
